<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>TEO CORP</h1>
            <form #signinForm role="form" (ngSubmit)="signinUser($event)">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="User Name" 
                        [(ngModel)]="signinRequest.name" #name="ngModel" name="name" required>
                        <div class="" [hidden]="name.valid || (name.pristine && !signinForm.submitted)">
                            <p>User name is required.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Password" 
                        [(ngModel)]="signinRequest.password" #password="ngModel" name="password" required>
                        <div class="" [hidden]="password.valid || (password.pristine && !signinForm.submitted)">
                            <p>Password is required.</p>
                        </div>
                    </div>
                </div>
                <button class="btn rounded-btn" type="submit">Signin</button>&nbsp;
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Signup</a>
            </form>
        </div>
    </div>
</div>
